:root {
  --tp-theme-color: #0057fc;
  --tp-theme-color-2: #ffe815;
  --tp-theme-color-3: #fedc76;
  --tp-theme-color-4: #fff3d7;
  --tp-theme-orange: #ff5b15;
  --tp-theme-orange-2: #ff3838;
  --tp-heading-color: #0a0e1a;
  --tp-black-common: #0a0e1a;
  --tp-body-color: #57595c;
  --tp-theme-nblue: #001c52;
  --tp-common-black: #0a0e19;
  --tp-cream: #fbf6ef;
  --tp-cream-2: #fdf6f2;
  --tp-black: black;
  --tp-white: white;
  --tp-rom-color: #fbf6ef;
  --tp-grey-color: #f6f6f6;
  --tp-grey-color-2: #f6f6f6;
  --tp-grey-color-3: #f6f6f6;
  --tp-grey-color-4: #f6f6f6;
}
